<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_dWxuvLbLSXMxMpmDxWaVFDpCO2p_Ecw</string>
	<key>GCM_SENDER_ID</key>
	<string>612808084817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rizz12.Rizzradar</string>
	<key>PROJECT_ID</key>
	<string>rizzradar-d13ee</string>
	<key>STORAGE_BUCKET</key>
	<string>rizzradar-d13ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612808084817:ios:9f2de4d4d4e70f5ace5770</string>
</dict>
</plist>